<h1>
  <%= @tournament.name %>
</h1>

<h3>
  <% @matches.each do |match| %>
    <li>
      <%= match.name %>
      <%= submit_tag "Predict !", :id=> match.id %>
    </li>    
  <% end %>
</h3>

<%= javascript_tag do %>
  $('#2').click(function() {
    alert("okfoskdo")
  });
<% end %>