@import url(http://fonts.googleapis.com/css?family=Open+Sans:800);
@font-face {font-family:"BLANCH_CONDENSED";
src: url('../fonts/BLANCH_CONDENSED.otf'),
     url('../fonts/BLANCH_CONDENSED.eot'); /* IE9 */
font-weight:bold;
font-style:normal;}
#breh{
margin-top:130px;
}
.nad{
width:100%;
}
ul{
   position:relative;
   display: table-cell;
}
li{
list-style-type: none;
}

body,html{
font-family:"BLANCH_CONDENSED";
margin:0;
padding:0;
}
#content p{
font-family: 'Open Sans', sans-serif;
color:#bebebe;
padding:5%;
}
h1{
color:#bdbdbd;
text-align:center;
text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
h1 span{
display:block;
}
#sreda{
padding-top:50px;
}
#br{
border-bottom:1px solid #bdbdbd;
}
ul.klas li{
border-bottom:1px solid #33cccc;
}
.klas li a{
font-size:16px;
}
.klas li:last-child{
border:0px;
}

ul.menu li{
padding: 10px;
   position:relative;
   display:inline-block;
   border-right:1px solid #bdbdbd;
}
.menu li:last-child
{
   border-right:0px;
}
a{
text-decoration:none;
font-family:'Open Sans',"BLANCH_CONDENSED";
color:#33cccc;
font-size:22px;
}
ul.menu  li a{
font-family:"BLANCH_CONDENSED";
}
 a:hover{
text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
}
#content{
position:relative;
width:100%;
background-image:url('pattern.jpg');
display:inline-block;
padding-bottom: 3em; 
}
html, body, #container { height: 100%; }
body > #container { height: auto; min-height: 100%; }
#footer{
background-color:#33cccc;
 clear: both;
 position: relative;
 z-index: 10;
 height: 300px;
 margin-top: -3em;
}
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}	
.span_4_of_4 {
	width: 100%; 
}

.span_3_of_4 {
	width: 74.6%; 
}

.span_2_of_4 {
	width: 49.2%; 
}

.span_1_of_4 {
	width: 23.8%; 
}
.span_5_of_5 {
	width: 100%;
}

.span_4_of_5 {
  	width: 79.68%; 
}
#ceco{
width:50%;
}
.span_3_of_5 {
  	width: 59.36%; 
}

.span_2_of_5 {
  	width: 39.04%;
}

.span_1_of_5 {
  	width: 18.72%;
}
#se{
border-right:1px solid #bdbdbd;
}
#cska{
padding-top:30px;
}
#boxx {
    margin-top:30px;

	}

	#boxx:before, #boxx:after {
	  content: "";
	  display: table;
	}

	#boxx:after {
	  clear: both;
	}

	#boxx .plan {
		background: #fff;      
		border: 1px solid #ddd;
		color: #333;
		_display: inline; /* IE6 double margin fix */
		position: relative;
		-moz-box-shadow: 0 2px 2px -1px rgba(0,0,0,.3);
		-webkit-box-shadow: 0 2px 2px -1px rgba(0,0,0,.3);
		box-shadow: 0 2px 2px -1px rgba(0,0,0,.3);		
	}
 #ma_link {
padding-left:50px;
 }
 #footer p, #footer a{
 color:#fff;
 text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
 font-size:24px;
 text-align:center;
 }
 table{
color:#bebebe;

 }
 .result{
 width:40px;
 }
 .hh{
 height:50px;
 	text-align:center;
	padding:10px;
 }
 ::-webkit-input-placeholder { color:#33cccc; text-align:center; }
::-moz-placeholder { color:#33cccc; } /* firefox 19+ */
:-ms-input-placeholder { color:#33cccc; } /* ie */
input:-moz-placeholder { color:#33cccc; }
 .hh input [type="text"]{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
    text-align:center;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	background: #f9f9f9 ;
	border: 1px solid #118edc;
	color: #777;
	margin: 0 0 10px;
	padding: 15px 10px 15px 40px;
	width: 250px;
	height: 50px;

 }
 .hh input[type="text"]:focus{
 	-webkit-box-shadow: 0 0 2px #33cccc inset;
	-moz-box-shadow: 0 0 2px #33cccc inset;
	-ms-box-shadow: 0 0 2px #33cccc inset;
	-o-box-shadow: 0 0 2px #33cccc inset;
	box-shadow: 0 0 2px #33cccc inset;
	background-color: #fff;
	border: 1px solid #33cccc;
	outline: none;
}
 form {
 font-size:20px;
 color:#33cccc;
 padding:5%;
  position: relative;
 }
 
	#boxx .plan:after {
	  z-index: -1; 
	  position: absolute; 
	  content: "";
	  bottom: 10px;
	  right: 4px;
	  width: 80%; 
	  top: 80%; 
	  -webkit-box-shadow: 0 12px 5px rgba(0, 0, 0, .3);   
	  -moz-box-shadow: 0 12px 5px rgba(0, 0, 0, .3);
	  box-shadow: 0 12px 5px rgba(0, 0, 0, .3);
	  -webkit-transform: rotate(3deg);    
	  -moz-transform: rotate(3deg);   
	  -o-transform: rotate(3deg);
	  -ms-transform: rotate(3deg);
	  transform: rotate(3deg);	
	}	

	/* --------------- */	

	.header {
		position: relative;
		border-bottom: 8px solid #B3E03F;
	}

	 .header:after {
		position: absolute;
		bottom: -8px; left: 0;
		height: 3px; width: 100%;
		content: '';
		background-image: url('bar.png');
	}
	
	
	#boxx .signup {
		position: relative;
		margin:10px 0 	10px 30px;
		padding: 10px;
		color: #fff;
		font: bold 14px Arial, Helvetica;
		text-transform: uppercase;
		text-decoration: none;
		display: inline-block;       
		background-color: #beff22;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;     
		text-shadow: 0 -1px 0 rgba(0,0,0,.15);
		opacity: .9;       
	}

	#boxx .signup:hover {
		opacity: 1;       
	}

	#boxx .signup:active {
		-moz-box-shadow: 0 2px 2px rgba(0,0,0,.3) inset;
		-webkit-box-shadow: 0 2px 2px rgba(0,0,0,.3) inset;
		box-shadow: 0 2px 2px rgba(0,0,0,.3) inset;       
	}			

	#boxx .plan1 .signup{
		background: #B3E03F;
	}

	#boxx .plan2 .signup{
		background: #7BD553;
	}

	#boxx .plan3 .signup{
		background: #3AD5A0;
	}

	#boxx .plan4 .signup{
		background: #45D0DA;
	}	
	::selection {
	background: #beff22; /* Safari */
	}
::-moz-selection {
	background: #beff22; /* Firefox */
}

	
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 780px) {
ul.menu{

}
#se{
border-right:0px;
border-bottom:1px solid #bdbdbd;
}
#sreda{
padding-top:20px;
}
#br{
border:0px;
}
	.span_5_of_5 {
		width: 100%; 
	}
	.span_4_of_5 {
		width: 100%; 
	}
	.span_3_of_5 {
		width: 100%; 
	}
	.span_2_of_5 {
		width: 100%; 
	}
	.span_1_of_5 {
		width: 100%; 
	}
.col { 
		margin: 1% 0 1% 0%;
	}
	.span_4_of_4 {
		width: 100%; 
	}
	.span_3_of_4 {
		width: 100%; 
	}
	.span_2_of_4 {
		width: 100%; 
	}
	.span_1_of_4 {
		width: 100%; 
	}
}