<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    "style", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:800&subset=cyrillic' rel='stylesheet' type='text/css'>
  <title> Sport Predictions </title>
</head>

<body>
  
  <div class="section group" id="br">
<div class="col span_1_of_4"id="se">
<h1>1 / X / 2 
<span>Sport </span><span>Predictions</span></h1>
</div>
<div class="col span_2_of_4" id="sreda">
<ul class="menu">
<li><a href="/rooms"> Rooms </a></li>
<li><a href="/newroom"> Create Room </a></li>
<li><a href="/predictions"> Predictions </a></li>
</ul>
</div>
<div class="col span_1_of_4"></div></div>
<div id="content">
<div class="section group">

<%= yield %>

<script type="text/javascript">
<!--
    function toggle_visibility(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
    }
//-->
</script>

</div>
</div>


</body>
</html>
